extends layout

block content
  br
  br
  h1(class="contact-header") Find us on:
  br
  br
  div(class="contact-icons")
    i(id="fb" class="fab fa-facebook-square fa-8x")
    h2 Facebook
    br
    i(class="fas fa-envelope-square fa-8x")
    h2 Email
    br
    br
