div(class="footer")
  br
  br
  div(class="contact") Contact Us
  br
  div(class="footer-icons")
    i(class="fab fa-facebook-square fa-3x")
    i(class="fas fa-envelope-square fa-3x")
  br
  div(class="copyright") © 2020 Refined Finishes
  br
  div(class="footer-logo-wrapper")
    a(href="/")
      img(class="footer-logo" src="/images/logo.jpg")
  br
  br
  br
  br
