extends layout

block content
  div(class="cocoen")
    img(src="https://picsum.photos/id/1/200/300")
    img(class="https://picsum.photos/id/1/200/300")
  div(class="cocoen")
    img(src="https://picsum.photos/id/1/200/300")
    img(class="https://picsum.photos/id/1/200/300")
  div(class="cocoen")
    img(src="https://picsum.photos/id/1/200/300")
    img(class="https://picsum.photos/id/1/200/300")
