div(class="navbar")
  div(class="logo-wrapper")
    a(href="/")
      img(class="logo" src="/images/logo.jpg")
  div(class="link-wrapper")
    ul(class="navbar-items")
      li(class="navbar-link")
        a(href="gallery") Gallery
      li(class="navbar-link") 
        a(href="visualizer") Visualizer
      li(class="navbar-link") 
        a(href="services") Services
      li(class="navbar-link") 
        a(href="price-estimator") Price Estimator
      li(class="navbar-link") 
        a(href="about") About
      li(class="navbar-link") 
        a(href="contact-us") Contact Us
