extends layout

block content
  br
  br
  h1(class="price-estimator-header") Let us do the math for you!
  br
  br
  br
  br
  div(class="calculator-wrapper")
    div(class="calculator-line-wrapper")
      div(class="calculator-half-wrapper")
        h3(class="calculator-variable") Number of Doors
        h3(class="calculator-price") x ($$$)
      div(class="input-wrapper")
        h3(class="input-number") Enter Number Here
  br
  br
  br
  div(class="calculator-wrapper")
    div(class="calculator-line-wrapper")
      div(class="calculator-half-wrapper")
        h3(class="calculator-variable") Number of Drawers
        h3(class="calculator-price") x ($$$)
      div(class="input-wrapper")
        h3(class="input-number") Enter Number Here
  br
  br
  br
  div(class="calculator-wrapper")
    div(class="calculator-line-wrapper")
      div(class="calculator-half-wrapper")
        h3(class="calculator-variable") Product
        h3(class="calculator-price") ($$$)
      div(class="input-wrapper")
        h3(class="input-dropdown") ▼
  br
  br
  br
  div(class="calculator-wrapper")
    div(class="calculator-line-wrapper")
      div(class="calculator-half-wrapper")
        h3(class="calculator-variable") Hardware
        h3(class="calculator-price") ($$$)
      div(class="input-wrapper")
        h3(class="input-dropdown") ▼
    br
    br
    hr
  br
  div(class="calculator-wrapper")
    div(class="calculator-line-wrapper")
      div(class="calculator-half-wrapper")
        h3(class="calculator-variable") Total
      div(class="output-wrapper")
        h3(class="input-invisible") ▼
  br
  br
  br
  br
  br
  div(class="reg-button-box") 
    div(class="reg-box-text") Schedule your estimate today!
    br
    a(href="https://www.facebook.com/refinedfinishes2020/" target="_blank")
      div(class="reg-button") 
        button(class="reg-button-text") Find us on Facebook!
  br
  br
  br
  
  
      
      
