extends layout

block content
  br
  br
  h1(class="services-header") What we offer:
  br
  div(class="services-wrapper")
    div(class="services-title-wrapper")
      h3(id="cabinetry-refinishing" class="service-titles") Cabinetry Refinishing
      h3(class="plus-minus") -
    div(class="services-info")
      div(class="services-text") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eget odio vitae tortor cursus viverra. Aliquam dignissim, lorem id porta pulvinar, nibh nunc pulvinar ante, ac blandit felis ipsum quis sem. Curabitur ut tortor tristique, dictum massa ut, posuere magna. Suspendisse sed ipsum id nisi tristique accumsan. Morbi justo quam, dapibus eu odio quis, venenatis faucibus lectus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Morbi laoreet nunc turpis, et mattis lectus congue blandit. Pellentesque id tempor dolor, tristique tincidunt massa. Fusce pellentesque bibendum mi suscipit bibendum. Phasellus bibendum, risus tempus auctor blandit, nisl lorem auctor lectus, eget semper est sapien et ante. Pellentesque sit amet blandit ipsum.
      img(class="services-img" src="/images/service.jpg")
    br
    br
    hr
    div(class="services-title-wrapper")
      h3(class="service-titles") Trim
      h3(class="plus-minus") +
    hr
    div(class="services-title-wrapper")
      h3(class="service-titles") Furniture
      h3(class="plus-minus") +
    hr
    div(class="services-title-wrapper")
      h3(class="service-titles") Full size doors
      h3(class="plus-minus") +
    hr
    div(class="services-title-wrapper")
      h3(class="service-titles") Stair banisters
      h3(class="plus-minus") +
    hr
    br
    br
    br
    br
    br
    br
    br
    br
    div(class="reg-button-box") 
      div(class="reg-box-text") Schedule your estimate today!
      br
      a(href="https://www.facebook.com/refinedfinishes2020/" target="_blank")
        div(class="reg-button") 
          button(class="reg-button-text") Find us on Facebook!
    br
    br
    br
