extends layout

block content
  br
  br
  h1(class="visualizer-header") So many ways to customize!
  br
  br
  br
  br
  img(class="visualizer-image" src="/images/visualizer.jpg")
  br
  div(class="visualizer-wrapper")
    div(class="all-tab-wrapper")
      div(class="tab-wrapper")
        h4(class="tab-title") Upper Cabinets
        h4(class="tab-title") Lower Cabinets
        h4(class="tab-title") Walls
        h4(class="tab-title") Countertops
        h4(class="tab-title") Knobs
        h4(class="tab-title") Detailing
    div(class="palette-wrapper")
      div(class="color-grid-wrapper")
        div(class="color-wrapper")
          div(class="color-swatch-1") 
          div(class="color-name") Boat Blue
        div(class="color-wrapper")
          div(class="color-swatch-2") 
          div(class="color-name") Boat Blue
        div(class="color-wrapper")
          div(class="color-swatch-3") 
          div(class="color-name") Boat Blue
        div(class="color-wrapper")
          div(class="color-swatch-4") 
          div(class="color-name") Boat Blue
        div(class="color-wrapper")
          div(class="color-swatch-5") 
          div(class="color-name") Boat Blue
        div(class="color-wrapper")
          div(class="color-swatch-6") 
          div(class="color-name") Boat Blue
        div(class="color-wrapper")
          div(class="color-swatch-7") 
          div(class="color-name") Boat Blue
        div(class="color-wrapper")
          div(class="color-swatch-8") 
          div(class="color-name") Boat Blue
        div(class="color-wrapper")
          div(class="color-swatch-9") 
          div(class="color-name") Boat Blue
        div(class="color-wrapper")
          div(class="color-swatch-10") 
          div(class="color-name") Boat Blue
        h4 We do tints and custom colors, too!
  br
  br
  br
  br
  div(class="reg-button-box") 
    div(class="reg-box-text") Schedule your estimate today!
    br
    a(href="https://www.facebook.com/refinedfinishes2020/" target="_blank")
      div(class="reg-button") 
        button(class="reg-button-text") Find us on Facebook!
  br
  br
  br
